/****************************************/
/*Validateion error */

.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}

.form-style-5 {
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style-5 h2 {
    align-self:center
}


.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}

.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 textarea {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: #50575b;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

    .form-style-5 input[type="text"]:focus,
    .form-style-5 input[type="date"]:focus,
    .form-style-5 textarea:focus {
        background: #d2d9dd;
    }

    .form-style-5 button[type="submit"],
    .form-style-5 button[type="button"] {
        position: relative;
        display: block;
        padding: 0px 39px 0px 39px;
        color: #FFF;
        margin: 0 auto;
        background: #ace481;
        font-size: 18px;
        text-align: center;
        font-style: normal;
        width: 50%;
        max-height: 50px;
        border: 1px solid #84c850;
        border-width: 1px 1px 3px;
        border-radius : 8px;
        margin-bottom: 10px;
    }

        .form-style-5 button[type="submit"]:hover,
        .form-style-5 button[type="button"]:hover {
            background: #a0e96a;
        }
